<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body>
  <section class="row" layout:fragment="content">
    <div class="col-6 offset-3 mt-4">
      <form action="" method="post">
        <div class="card">
          <div class="card-header">
            <img src="../images/logo.png" alt="H2 Shop"> Login To System
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameId"
                placeholder="Username">
              <small id="usernameId" class="form-text form-muted">Username is invalid</small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordId"
                placeholder="Password">
              <small id="passwordId" class="form-text form-muted">Password is invalid</small>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="rememberMe" id="rememberMe" value="true">
                Remember Me
              </label>
            </div>
          </div>
          <div class="card-footer text-muted">
            <button class="btn btn-primary">Login</button>
            <button class="btn btn-secondary">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</body>

</html>